html {
    background-color: #e3c7d4;
    color: #5d0352;
    font-family: Arial, sans-serif;
    padding: 100px;
    border-style: dashed;
    border-width: 10px;
    border-color: #8d057d;
}

div {
    padding-top: 20px;
    padding-bottom: 20px;
}




